[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pylint = "*"
markdown = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]
autopep8 = "*"

[pipenv]
allow_prereleases = true
